form{
    width: 100%;
}


.example-h2 {
    margin: 10px;
    color: #63320e;
  }
  
  .section {
    display: flex;
    align-content: center;
    align-items: center;
    // height: 60px;
    color: #63320e;
     $md-checkbox-checked-color: rgb(51, 500, 183);
  }
  
  
  .mat-checkbox{
    color: #63320e;
   
  }