<div class="container-fluid">
  <div class="row" style="height: 100px;background-color: #63320e">
    <h1 style="color: snow;font-size: 20px;margin-top: 35px;margin-left: 25px;">Facility</h1>
  </div>

  <form>
    <div class="row">
      <div class="col-md">
        <mat-card>
          <mat-card-content>
            <h2 class="example-h2">Fan room</h2>
            <section class="section">
              <mat-checkbox >Air conditioner</mat-checkbox><br>
            </section>

            <section class="section">
              <mat-checkbox >Fan</mat-checkbox><br>
            </section>

            <section class="section">
              <mat-checkbox >waterheat</mat-checkbox>
            </section>

            <section class="section">
              <mat-checkbox >Furniture</mat-checkbox>
            </section>

            <section class="section">
              <mat-checkbox >truevition</mat-checkbox>
            </section>

            <section class="section">
              <mat-checkbox >Cable tv</mat-checkbox>
            </section>

            <section class="section">
              <mat-checkbox >Internet wifi</mat-checkbox>
            </section>

            <section class="section">
              <mat-checkbox >Rasising animal</mat-checkbox>
            </section>

            <section class="section">
              <mat-checkbox >Smoking</mat-checkbox>
            </section>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md">
        <mat-card>
          <mat-card-content>
            <h2 class="example-h2">Air room</h2>
            <section class="section">
              <mat-checkbox >Air conditioner</mat-checkbox><br>
            </section>

            <section class="section">
              <mat-checkbox >Fan</mat-checkbox><br>
            </section>

            <section class="section">
              <mat-checkbox >waterheat</mat-checkbox>
            </section>

            <section class="section">
              <mat-checkbox >Furniture</mat-checkbox>
            </section>

            <section class="section">
              <mat-checkbox >truevition</mat-checkbox>
            </section>

            <section class="section">
              <mat-checkbox >Cable tv</mat-checkbox>
            </section>

            <section class="section">
              <mat-checkbox >Internet wifi</mat-checkbox>
            </section>

            <section class="section">
              <mat-checkbox >Rasising animal</mat-checkbox>
            </section>

            <section class="section">
              <mat-checkbox >Smoking</mat-checkbox>
            </section>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md">
        <mat-card>
          <mat-card-content>
            <h2 class="example-h2">Suite room</h2>
            <section class="section">
              <mat-checkbox >Air conditioner</mat-checkbox><br>
            </section>

            <section class="section">
              <mat-checkbox >Fan</mat-checkbox><br>
            </section>

            <section class="section">
              <mat-checkbox >waterheat</mat-checkbox>
            </section>

            <section class="section">
              <mat-checkbox >Furniture</mat-checkbox>
            </section>

            <section class="section">
              <mat-checkbox >truevition</mat-checkbox>
            </section>

            <section class="section">
              <mat-checkbox >Cable tv</mat-checkbox>
            </section>

            <section class="section">
              <mat-checkbox >Internet wifi</mat-checkbox>
            </section>

            <section class="section">
              <mat-checkbox >Rasising animal</mat-checkbox>
            </section>

            <section class="section">
              <mat-checkbox >Smoking</mat-checkbox>
            </section>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <button mat-button style="background-color: #63320e; color: snow; margin-top: 2%;margin-left: 50%;"> Submit </button>
  </form>


</div>