<div class="container-fluid">
    <div class="row" style="height: 100px;background-color: #63320e">
      <h1 style="color: snow;font-size: 20px;margin-top: 35px;margin-left: 25px;">Air Room</h1>
    </div>
    <br><br>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md">
        <carousel>
          <slide>
            <img src="../../../assets/air1.jpg" alt="first slide">
          </slide>
          <slide>
            <img src="../../../assets/air2.jpg" alt="second slide">
          </slide>
          <slide>
            <img src="../../../assets/air3.jpg" alt="third slide">
          </slide>
        </carousel>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8" style="text-align: center;">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            
          </mat-card-header>
          <mat-card-content>
            <mat-card-title>Details</mat-card-title>
            <p> <b>
                The rooms are comfortable and have a balcony.
              </b>
  
            </p>
          </mat-card-content>
          <mat-card-content>
            <p>
                <b>The room will include</b><br>
                Bed size        5 ft.<br>
                Wardrobe        1 ea<br>
                Television      1 ea<br>
                Dressings table 1 ea<br>
                Workings table  1 ea<br>
                Microwave       1 ea<br>
                Refrigerator    1 ea<br>
                Bathroom in the room with amenities

            </p>
          </mat-card-content>
          <button mat-raised-button style="background:#63320e;color: snow;" routerLink="/member/member/airroom/memberairbook">Book</button>
        </mat-card>
  
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <router-outlet></router-outlet>
