<!-- Menubar -->
<mat-toolbar>
  <mat-toolbar-row class="shadow" style="background: #1d1d1d">
    <mat-icon class="example-icon">location_city</mat-icon>
    <a mat-button routerLink="/mainpage/mainpage/home">Apartment</a>
    <a mat-button [matMenuTriggerFor]="animals" active="true">Type Room</a>
    <a mat-button >Contact</a>
    <!-- <a mat-button [matMenuTriggerFor]="animals" active="true">Animal index</a> -->

    <mat-menu #animals="matMenu" style="background: black">
      <a mat-menu-item style="color: rgb(24, 24, 24);font-size: 16px;">Fan Room</a>
      <a mat-menu-item style="color: rgb(24, 24, 24);font-size: 16px;">Air Room</a>
      <a mat-menu-item style="color: rgb(24, 24, 24);font-size: 16px;">Suite Room</a>
    </mat-menu>
    <span></span>
    <span class="example-spacer"></span>
    <a mat-raised-button style="color: black;background: rgb(245, 245, 245);
                                                border-bottom: gray 2px solid;
                                                border-right: gray 2px solid"
                                                (click)="openDialog()">Sign-in</a>
    <a mat-button (click)="openDialogRegister()">Registor</a>
    <!-- <mat-icon class="example-icon">face</mat-icon>
    <mat-icon class="example-icon">delete</mat-icon> -->
  </mat-toolbar-row>
</mat-toolbar>

<!-- <ol>
  <li>
    <mat-form-field>
      <input matInput [(ngModel)]="name" placeholder="What's your name?">
    </mat-form-field>
  </li>
  <li>
    <button mat-raised-button (click)="openDialog()">Pick one</button>
  </li>
  <li *ngIf="animal">
    You chose: <i>{{animal}}</i>
  </li>
</ol> -->
<router-outlet></router-outlet>
