<div class="container-fluid">
  <div class="row" style="height: 100px;background-color: #63320e">
    <h1 style="color: snow;font-size: 20px;margin-top: 35px;margin-left: 25px;">Suite Room</h1>
  </div>
  <br><br>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md">
      <carousel>
        <slide>
          <img src="../../../assets/suite1.jpg" alt="first slide">
        </slide>
        <slide>
          <img src="../../../assets/suite2.jpg" alt="second slide">
        </slide>
        <slide>
          <img src="../../../assets/suite3.jpg" alt="third slide">
        </slide>
      </carousel>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
        </mat-card-header>
        <div class="d" style="margin-left: 6%;margin-right: 8%; ">
          <label><b>Room in apartment</b></label>
          <p>3 guests &nbsp; 1 bedroom &nbsp;1 bed&nbsp; 1 bath</p>

        </div>
        <div style="margin-left: 6%;margin-right: 8%; ">
          <p>Modern Living in the property with en-suites rooms with balcony, free wifi, elevator, cctv, and a lap pool.
            Located in a prime location, 10 mins walk to Pratunam market and 15 mins to Central World. 3 BTS stops away
            from MBK. Direct train to BKK airport within 20 minutes.</p>
        </div>

        <hr>
        <div class="guests" style="margin-left: 6%;margin-right: 8%; ">
          <label><b>Interaction with guests</b></label>
          <p>You can contact me at any time. If you have any questions about booking accommodation Please send a
            message.</p>
        </div>
        <hr>
        <div class="amen" style="margin-left: 6%;">
          <label><b>Amenities</b></label>
          <p><i class="material-icons">wifi</i> &nbsp; There is an internet Wifi connection to use.</p>
          <p><i class="material-icons">fitness_center </i> &nbsp; There is a fitness room in the apartment.</p>
          <p><i class="material-icons"> smoke_free</i> &nbsp; No smoking inside the room.</p>
          <p><i class="material-icons"> commute</i> &nbsp; Near the train station, convenient to travel.</p>
          <p><i class="material-icons"> pool</i>&nbsp; The apartment has a swimming pool.</p>
          <p><i class="material-icons"> hot_tub </i> &nbsp;The room has a hot tub.</p>
          <p><i class="fa fa-product-hunt fa-lg" aria-hidden="true"> </i> &nbsp; Free parking on premises.</p>
        </div>
        <div class="example-button-row">
            <button mat-raised-button style="background:#63320e;color: snow; width: 50%; margin-left: 25%"
            routerLink="/viewer/viewer/suiteroom/viewsuite">Book</button>
        </div>
      </mat-card>

    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<router-outlet></router-outlet>