<div class="container-fluid">
  <div class="row" style="height: 100px;background-color: #974f1c">
    <h1 style="color: snow;font-size: 20px;margin-top: 35px;margin-left: 25px;"> My Profile<i
        class="fa fa-commenting fa-2x" aria-hidden="true"></i></h1>
  </div>
  <div class="container">

    <br>

    <form>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" placeholder="username">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
          <div class="form-group">
            <label>password</label>
            <input type="text" class="form-control" placeholder="password">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
          <div class="form-group">
            <label>First name</label>
            <input type="text" class="form-control" placeholder="first name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Last name</label>
            <input type="text" class="form-control" placeholder="Last name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
          <label>Gender </label> &nbsp;&nbsp;
          <mat-radio-group>
            <mat-radio-button value="1">male</mat-radio-button>
            <mat-radio-button value="2">female</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Telaphone</label>
            <input type="text" class="form-control" placeholder="telaphone">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
          <div class="form-group">
            <label>E-mail</label>
            <input type="text" class="form-control" placeholder="name@gmail.com">
          </div>
        </div>
      </div>
      <div class="row">
        <button mat-raised-button style="background:#63320e;color: snow; margin-left: 30% ; ">Submit</button>
      </div>
    </form>


  </div>


</div>






<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-md">ข้อมูลผู้ใช้งาน</div>
  </div>
  <div class="row">
    <div class="col-md">ห้องที่ : </div>
  </div>
  <div class="row">
    <div class="col-md-3">USERNAME : </div>
    <div class="col-md-3">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Username" value="">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">PASSWORD : </div>
    <div class="col-md-3">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" value="">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">First name : </div>
    <div class="col-md-3">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="First name" value="">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">Last name : </div>
    <div class="col-md-3">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Last name" value="">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">Address : </div>
    <div class="col-md-4">
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Leave a comment"></textarea>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">Gender : </div>
    <div class="col-md-3">
      <mat-radio-group>
        <mat-radio-button value="1">male</mat-radio-button>
        <mat-radio-button value="2">female</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">Telephone number : </div>
    <div class="col-md-3">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Telaphone" value="">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">E-mail address : </div>
    <div class="col-md-3">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="E-mail" value="">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
      <button mat-raised-button color="primary" style="margin-left: 50%;">บันทึกข้อมูล</button>
  </div>
</div> -->