<div class="container-fluid">
  <div class="row" style="height: 100px;background-color: #63320e">
    <h1 style="color: snow;font-size: 20px;margin-top: 35px;margin-left: 25px;"> My Profile<i
        class="fa fa-commenting fa-2x" aria-hidden="true"></i></h1>
  </div>
  <mat-card class="example-card shadow">
    <form [formGroup]="updateUser">
      <h1 mat-dialog-title>Edit My Profile </h1>
        <input  formControlName="username" type="hidden" style="color: #63320e" [(ngModel)]="username">
      <mat-form-field style="width: 100%">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" style="color: #63320e" [(ngModel)]="password">
      </mat-form-field>

      <mat-form-field style="width: 100%">
        <mat-label>Firstname</mat-label>
        <input matInput formControlName="cus_fname" style="color: #63320e" [(ngModel)]="cus_fname">
      </mat-form-field>

      <mat-form-field style="width: 100%">
        <mat-label>Lastname</mat-label>
        <input matInput formControlName="cus_lname" style="color: #63320e" [(ngModel)]="cus_lname">
      </mat-form-field>

      <mat-form-field style="width: 100%">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" style="color: #63320e" [(ngModel)]="email">
      </mat-form-field>

      <mat-radio-group formControlName="cus_sex" style="color: #63320e" [(ngModel)]="cus_sex">
        <mat-radio-button value="female" style="color: #63320e">Female</mat-radio-button>&nbsp;
        <mat-radio-button value="male" style="color: #63320e">Male</mat-radio-button>
      </mat-radio-group>

      <mat-form-field style="width: 100%">
        <mat-label>Tel</mat-label>
        <input matInput formControlName="cus_phone" style="color: #63320e" [(ngModel)]="cus_phone">
      </mat-form-field>

      <mat-form-field style="width: 100%">
        <mat-label>Address</mat-label>
        <textarea matInput formControlName="cus_addr" rows="5" style="color: #63320e" [(ngModel)]="cus_addr"></textarea>
      </mat-form-field>

      <div mat-dialog-actions>
        <button mat-raised-button style="width: 100%;margin-bottom: 20px;background-color: #63320e;color: snow"
          (click)="onUpdateUser()">EditMember</button>
      </div>
    </form>
  </mat-card>

</div>


<!-- Alert -->
<ng-template #success let-modal>
  <div class="alert alert-success" role="alert" style="margin-bottom: 0px;">
    <i class="material-icons" style="color: forestgreen">
      offline_pin
    </i> Edit Profile Successfully
  </div>
</ng-template>