<br><br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <mat-toolbar>
                <span>Book room</span>
            </mat-toolbar>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <br><br>
            <mat-form-field>
                <input matInput [matDatepicker]="picker1" placeholder="Chck-in" [formControl]="date">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <input matInput [matDatepicker]="picker3" placeholder="Check- out" [value]="date.value">
                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <mat-form-field>
                <mat-label>Select on floor</mat-label>
                <mat-select [(value)]="selected">
                    <mat-option>None</mat-option>
                    <mat-option value="option1">Floor 1</mat-option>
                    <mat-option value="option2">Floor 2</mat-option>
                    <mat-option value="option3">Floor 3</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">


                    <ng-container matColumnDef="room_id">
                        <th mat-header-cell *matHeaderCellDef> Room </th>
                        <td mat-cell *matCellDef="let row"> {{row.room_id}} </td>
                    </ng-container>


                    <ng-container matColumnDef="type_room">
                        <th mat-header-cell *matHeaderCellDef> Type room </th>
                        <td mat-cell *matCellDef="let row"> {{row.type_room}} </td>
                    </ng-container>

                    <ng-container matColumnDef="room_status">
                        <th mat-header-cell *matHeaderCellDef> Room status </th>
                        <td mat-cell *matCellDef="let row"> {{row.room_status}} </td>
                    </ng-container>

                    <ng-container matColumnDef="book">
                        <th mat-header-cell *matHeaderCellDef> Book room </th>
                        <td mat-cell *matCellDef="let row">
                            <i class="material-icons" style="cursor: pointer; color: #63320e;"
                            (click)="openModalfanrom(row,Bookroom)">loyalty</i>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>
</div>

<ng-template #Bookroom let-modal>
    <div style="margin: 20px;">
        <form style="padding-top: 10px;padding-left: 15px;padding-right: 15px;">
            <h1 mat-dialog-title style="margin-left: 30%; margin-bottom: 20px;">Book a room</h1>

            <button mat-raised-button style="width: 20%; background-color: #63320e;color:snow; margin-left: 25%;">Book</button>
            <button mat-raised-button style="width: 20%; background-color: #FF9900;color:snow; margin-left: 5%" (click)="closeModal()">Cancle</button>

        </form>
    </div>
</ng-template>