<div class="container-fluid">
    <div class="row" style="height: 100px;background-color: #63320e">
      <h1 style="color: snow;font-size: 20px;margin-top: 35px;margin-left: 25px;">Meter water/electricity </h1>
    </div>
    <br>
    <div class="row">
      <div class="col-md"></div>
      <div class="col-md-8 shadow">
        <br>
        <h5>{{dateShow}}</h5>
        <br>
        <mat-form-field style="width: 100%">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Room name" value="">
        </mat-form-field><br>
  
        <table mat-table [dataSource]="dataSource">
  
          <ng-container matColumnDef="room_id">
            <th mat-header-cell *matHeaderCellDef> Room </th>
            <td mat-cell *matCellDef="let row"> {{row.room_id}} </td>
          </ng-container>
  
          <ng-container matColumnDef="water_start">
            <th mat-header-cell *matHeaderCellDef> WaterUnit </th>
            <td mat-cell *matCellDef="let row"> {{row.water_start}} </td>
          </ng-container>
  
          <ng-container matColumnDef="water_end">
            <th mat-header-cell *matHeaderCellDef> UsingWater </th>
            <td mat-cell *matCellDef="let row"> {{row.water_end}} </td>
          </ng-container>
  
          <ng-container matColumnDef="elect_start">
            <th mat-header-cell *matHeaderCellDef> ElectUnit </th>
            <td mat-cell *matCellDef="let row"> {{row.elect_start}} </td>
          </ng-container>
  
          <ng-container matColumnDef="elect_end">
            <th mat-header-cell *matHeaderCellDef> ElectUsing </th>
            <td mat-cell *matCellDef="let row"> {{row.elect_end}} </td>
          </ng-container>
  
          <ng-container matColumnDef="update">
            <th mat-header-cell *matHeaderCellDef> Update </th>
            <td mat-cell *matCellDef="let row">
              <mat-icon (click)="openModalMeter(row,Meter)" style="font-size: 30px;cursor: pointer;color: #63320e">
                create</mat-icon>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>
  
        <mat-paginator [pageSizeOptions]="[5,10, 25, 100]"></mat-paginator>
      </div>
      <div class="col-md"></div>
    </div><br>
    <div class="row">
      <div class="col-md"></div>
      <div class="col-md shadow formUpload">
        <form>
          <div class="formContent">
            <div class="form-group mb-3">
              <div class="row">
                <h4>DownloadFileTemplate</h4>
                <h6 style="color: rgb(138, 138, 138)">**This file type is file Excel**</h6>
                <h6 style="color: darkgray;font-size: 11px;">befor uploadfile all around please convert file xlsx to csv.
                </h6>
                <br><br>
                <button mat-raised-button style="color: snow;background-color: #63320e;width: 100%;height:36px;margin-top: 7px;"
                  (click)="onDownload()">Download</button>
              </div>
            </div>
          </div>
        </form>
      </div>&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="col-md shadow formUpload">
        <form>
          <div class="formContent">
            <div class="form-group mb-3">
              <div class="row">
                <h4>UploadFile</h4><br>
  
                <input #csvData type="file" accept=".csv" (change)="onCSV()" class="form-control-file mb-3">
                <h6 style="color: darkgray;font-size: 13px;">Please use only csv file for upload.!!</h6>
                <button mat-raised-button style="color: snow;background-color: #63320e;width: 100%"
                  (click)="onUpload()">Upload</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md"></div>
    </div>
    <br>
    <div class="row">
      <div class="col-md"></div>
      <div class="col-md"></div>
      <div class="col-md-3 shadow formUpload">
        <form>
          <div class="formContent">
            <div class="form-group mb-3">
              <div class="row">
                <h4>Generater Table</h4>
                <h6 style="color: rgb(138, 138, 138)">**Function GenerateTable Monthly**</h6>
                <h6 style="color: darkgray;font-size: 11px;">Using this function case this page is no has table.
                </h6>
                <br><br>
                <button mat-raised-button style="color: snow;background-color: #63320e;width: 100%"
                  (click)="Generater()">GenerateTable</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md"></div>
      <div class="col-md"></div>
    </div>
    <br>
  </div>
  
  
  
  <ng-template #Meter let-modal>
    <form style="padding-top: 10px;padding-left: 20px;padding-right: 20px;" [formGroup]="updateMeterManual">
      <h1 mat-dialog-title>Edit Meter Form</h1>
  
      <input formControlName="room_id" style="color: #63320e" type="hidden" [(ngModel)]="update_room_id">
  
      <mat-form-field style="width: 100%">
        <mat-label>Water_Start</mat-label>
        <input matInput formControlName="water_start" style="color: #63320e" [(ngModel)]="update_water_start">
      </mat-form-field>
  
      <mat-form-field style="width: 100%">
        <mat-label>Water_end</mat-label>
        <input matInput formControlName="water_end" style="color: #63320e" [(ngModel)]="update_water_end">
      </mat-form-field>
  
      <mat-form-field style="width: 100%">
        <mat-label>Elect_start</mat-label>
        <input matInput formControlName="elect_start" style="color: #63320e" [(ngModel)]="update_elect_start">
      </mat-form-field>
  
      <mat-form-field style="width: 100%">
        <mat-label>Elect_end</mat-label>
        <input matInput formControlName="elect_end" style="color: #63320e" [(ngModel)]="update_elect_end">
      </mat-form-field>
  
      <div mat-dialog-actions>
        <button mat-raised-button style="width: 100%;margin-bottom: 20px;background-color: #63320e;color: snow"
          (click)="onUpdateMeterManual()">EditMeter</button>
      </div>
    </form>
  </ng-template>
  
  <ng-template #success let-modal >
    <div class="alert alert-success" role="alert" style="margin-bottom: 0px;">
      <i class="material-icons" style="color: forestgreen">
          offline_pin
      </i> Successfully
    </div>
  </ng-template>
  
  <ng-template #error let-modal >
      <div class="alert alert-danger" role="alert" style="margin-bottom: 0px;">
        <i class="material-icons" style="color: forestgreen">
          error
        </i> Error
      </div>
    </ng-template>