<div class="container">
    <div class="row">
      <div class="col-md">ข้อมูลผู้ใช้งาน</div>
    </div>
    
    <div class="row">
      <div class="col-md-3">USERNAME : </div>
      <div class="col-md-3">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username" value="">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">PASSWORD : </div>
      <div class="col-md-3">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" value="">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">First name : </div>
      <div class="col-md-3">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="First name" value="">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">Last name : </div>
      <div class="col-md-3">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Last name" value="">
        </mat-form-field>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-3">Gender : </div>
      <div class="col-md-3">
        <mat-radio-group>
          <mat-radio-button value="1">male</mat-radio-button>
          <mat-radio-button value="2">female</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-3">E-mail address : </div>
      <div class="col-md-3">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="E-mail" value="">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
        <button mat-raised-button color="primary" style="margin-left: 50%;">บันทึกข้อมูล</button>
    </div>
  </div>