<div class="container-fluid">
    <div class="row" style="height: 100px;background-color: #63320e">
        <h1 style="color: snow;font-size: 20px;margin-top: 35px;margin-left: 25px;">Notifiy Book</h1>
    </div>
    <br><br>

    <div class="row">
        <div class="col-md"></div>
        <div class="col-md-10">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter Data Source">
            </mat-form-field>


            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">


                    <ng-container matColumnDef="room_id">
                        <th mat-header-cell *matHeaderCellDef>Room No.</th>
                        <td mat-cell *matCellDef="let row"> {{row.room_id}} </td>
                    </ng-container>

                    <ng-container matColumnDef="type_room">
                        <th mat-header-cell *matHeaderCellDef>Type room</th>
                        <td mat-cell *matCellDef="let row"> {{row.type_room}} </td>
                    </ng-container>

                    <ng-container matColumnDef="username">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let row"> {{row.username}} </td>
                    </ng-container>


                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef> E-mail </th>
                        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
                    </ng-container>

                    <ng-container matColumnDef="book_in">
                        <th mat-header-cell *matHeaderCellDef> Check-in </th>
                        <td mat-cell *matCellDef="let row"> {{row.book_in}} </td>
                    </ng-container>

                    <ng-container matColumnDef="book_out">
                        <th mat-header-cell *matHeaderCellDef> Check-out </th>
                        <td mat-cell *matCellDef="let row"> {{row.book_out}} </td>
                    </ng-container>

                    <ng-container matColumnDef="book_date">
                        <th mat-header-cell *matHeaderCellDef> Date Book </th>
                        <td mat-cell *matCellDef="let row"> {{row.book_date}} </td>
                    </ng-container>


                    <ng-container matColumnDef="icon">
                        <th mat-header-cell *matHeaderCellDef> icon </th>
                        <td mat-cell *matCellDef="let row">
                            <i class="material-icons" style="cursor: pointer; color: #63320e;"
                                (click)="openModalSearch(row,Search)">
                                add_box
                            </i>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>

        </div>
        <div class="col-md"></div>
    </div>
</div>

<ng-template #Search let-modal>
    <div style="margin: 20px;">
        <form style="padding-top: 10px;padding-left: 20px;padding-right: 20px;" [formGroup]="updateBooktoRoom">
            <h1 mat-dialog-title>Notifiy book</h1>
            <mat-form-field style="width: 100%">
                <mat-label>Room</mat-label>
                <input type="text" matInput formControlName="room_id" style="color: #63320e" 
                [(ngModel)]="room_id">
            </mat-form-field>
            <mat-form-field style="width: 100%">
                <mat-label>username</mat-label>
                <input type="text" matInput formControlName="username" style="color: #63320e" 
                [(ngModel)]="username">
            </mat-form-field>
            <mat-form-field style="width: 100%">
                <mat-label>E-mail</mat-label>
                <input type="email" matInput formControlName="email" style="color: #63320e" 
                [(ngModel)]="email">
            </mat-form-field>
            <mat-form-field style="width: 100%">
                <mat-label>Check_in</mat-label>
                <input type="date" matInput formControlName="check_in" style="color: #63320e"
                    [(ngModel)]="book_in">
            </mat-form-field>
            <mat-form-field style="width: 100%">
                <mat-label>Check-out</mat-label>
                <input type="date" matInput formControlName="check_out" style="color: #63320e"
                    [(ngModel)]="book_out">
            </mat-form-field>
            <mat-form-field style="width: 100%">
                <mat-label>Date</mat-label>
                <input type="date" matInput formControlName="book_date" style="color: #63320e"
                    [(ngModel)]="book_date">
            </mat-form-field>

            <button mat-raised-button style="background-color: #63320e;color:snow; margin-left: 30%;" (click)="onUpdatetoRoom()">Add</button>
            <button mat-raised-button style="background-color: #FF9900;color:snow; margin-left: 5%" (click)="closeModal()">Cancle</button>

        </form>
    </div>
</ng-template>