table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #63320e !important;
 }

 ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #63320e !important;
} 

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: #63320e !important;;
}
//input outline color
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #63320e!important;
  // opacity: 1!important;
}

//mat-input focused color
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #63320e!important;
}
::placeholder{
  color: #63320e;
}
mat-icon,a{
  color: snow;
  font-size: 15px;
  text-decoration: none;
}
.formUpload{
  margin-top: 10px;
  width: 100%;
  border-radius: 20px;
}
.formContent{
  padding:30px 30px 30px 30px; /*top right button left*/
}