<div class="container-fluid">
  <div class="row" style="height: 100px;background-color: #63320e">
    <h1 style="color: snow;font-size: 20px;margin-top: 35px;margin-left: 25px;">Meter water/electricity </h1>
  </div>

  <div class="row">
    <div class="col-md"></div>
    <div class="col-md-8">
      <form>
        <mat-form-field class="example-full-width">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Room name" value="">
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <ng-container matColumnDef="room_id">
            <th mat-header-cell *matHeaderCellDef> Room </th>
            <td mat-cell *matCellDef="let row"> {{row.room_id}}</td>
          </ng-container>


          <ng-container matColumnDef="water_start">
            <th mat-header-cell *matHeaderCellDef> water start </th>
            <td mat-cell *matCellDef="let row"> {{row.water_start}} </td>
          </ng-container>


          <ng-container matColumnDef="water_end">
            <th mat-header-cell *matHeaderCellDef> water end </th>
            <td mat-cell *matCellDef="let row"> {{row.water_end}} </td>
          </ng-container>


          <ng-container matColumnDef="elect_start">
            <th mat-header-cell *matHeaderCellDef> elect start </th>
            <td mat-cell *matCellDef="let row"> {{row.elect_start}} </td>
          </ng-container>


          <ng-container matColumnDef="elect_end">
            <th mat-header-cell *matHeaderCellDef> elect end </th>
            <td mat-cell *matCellDef="let row"> {{row.elect_end}} </td>
          </ng-container>


          <ng-container matColumnDef="update">
            <th mat-header-cell *matHeaderCellDef> Update </th>
            <td mat-cell *matCellDef="let row">
              <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true" (click)="openModalMeter(row,Meter)"
                style="cursor: pointer; color: #63320e;"></i>


            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </form>
    </div>
    <div class="col-md"></div>
  </div>

</div>



<ng-template #Meter let-modal>
  <div style="margin: 20px;">
    <form style="padding-top: 10px;padding-left: 20px;padding-right: 20px;" [formGroup]="updatedebit">
      <h1 mat-dialog-title>Meter</h1>
      <mat-form-field style="width: 100%">
        <mat-label>water</mat-label>
        <input type="number" matInput formControlName="water_end" style="color: #63320e" [(ngModel)]="water_end">
      </mat-form-field>

      <mat-form-field style="width: 100%">
        <mat-label>elect</mat-label>
        <input type="number" matInput formControlName="elect_end" style="color: #63320e" [(ngModel)]="elect_end">
      </mat-form-field>

      <button mat-raised-button style="background:#63320e; color:  snow">Submit</button>
    </form>
  </div>
</ng-template>