<div class="container-fluid">
  <div class="row" style="height: 100px;background-color: #63320e">
    <h1 style="color: snow;font-size: 20px;margin-top: 35px;margin-left: 25px;"> Contact
      &nbsp;<i class="material-icons">
        contact_mail
      </i></h1>
  </div><br>
  <div class="row">
    <div class="col-md"></div>
    <div class="col-md-8">

    </div>
    <div class="col-md"></div>
  </div><br>

  <!--Grid row-->
  <div class="row">


    <div class="col-md-6 mb-4">

      <div class="card card-cascade narrower">

        <div class="card-body card-body-cascade text-center">
          <div id="map-container-google-8" class="z-depth-1-half map-container-5" style="height: 300px">
            <iframe src="https://www.google.com/maps/d/embed?mid=1ofAZSfguUqLTX31Z8zXGyFoE3jiNCVYF" width="640"
              height="480"></iframe>
          </div>
        </div>


      </div>


    </div>
    <div class="col-md-6 mb-4">
      <div class="card card-cascade narrower">
        <div class="view view-cascade gradient-card-header peach-gradient">
          <h5 class="mb-0" style="margin-left: 2%;margin-top: 20px;">Question</h5>
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">

              <ng-container matColumnDef="question">
                <th mat-header-cell *matHeaderCellDef> Question </th>
                <td mat-cell *matCellDef="let row"> {{row.question}} </td>
              </ng-container>


              <ng-container matColumnDef="answer">
                <th mat-header-cell *matHeaderCellDef> Answer </th>
                <td mat-cell *matCellDef="let row"> {{row.answer}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>