<div class="container-fluid">
  <div class="row content1">
    <div class="col-lg">
      <h1 style="text-align: center;color: snow;font-size: 50px;"><b>Apartment Management System</b></h1><br>
      <h6 style="text-align: center;color:snow;font-size: 16px;"><b>For renting booking managing users</b></h6><br>
      <!-- <img src="../../../assets/air-room.jpg" alt="" id="firstImage"> -->
    </div>
  </div><br><br><br><br>
  <div class="row" id="contain">
    <div class="col-md-1"></div>
    <div class="col-md-6" style="margin-top: 20px">
      <!-- <angular-image-slider class="shadow" [images]="imagesUrl"></angular-image-slider> -->
      <img src="../../../assets/air-room.jpg" alt="" id="firstImage">
    </div>
    <div class="col-md">
      <h1 style="text-align: left;font-size: 30px;padding-top: 100px;color: rgb(95, 95, 95);">Air-Conditioned</h1>
      <h1 style="text-align: left;font-size: 20px;color: rgb(102, 100, 100);"><b>The air-conditioned room is a room that
          makes you feel relaxed after returning from work.</b></h1><br>
    </div>
  </div>
  <br><br><br><br><br><br><br><br><br><br>
  <div class="row" id="contain">
    <div class="col-md">
      <h1 style="text-align: right;font-size: 30px;padding-top: 100px;color: rgb(95, 95, 95);">Fan Room</h1>
      <h1 style="text-align: right;font-size: 20px;color: rgb(102, 100, 100);"><b>Fan room is a budget room</b></h1>
      <h1 style="text-align: right;font-size: 20px;color: rgb(102, 100, 100);"><b>suitable for people who like warm
          weather.</b></h1><br>
    </div>
    <div class="col-md-6" style="margin-top: 20px">
      <!-- <angular-image-slider class="shadow" [images]="imagesUrl"></angular-image-slider> -->
      <img src="../../../assets/fan-room.jpg" alt="" id="firstImage">
    </div>
    <div class="col-md-1"></div>
  </div>
  <br><br><br><br><br><br><br><br><br><br>
  <div class="row" id="contain">
    <div class="col-md-1"></div>
    <div class="col-md-6" style="margin-top: 20px">
      <!-- <angular-image-slider class="shadow" [images]="imagesUrl"></angular-image-slider> -->
      <img src="../../../assets/sute-room.jpg" alt="" id="firstImage">
    </div>
    <div class="col-md">
      <h1 style="text-align: left;font-size: 30px;padding-top: 100px;color: rgb(95, 95, 95);">Suite Room</h1>
      <h1 style="text-align: left;font-size: 20px;color: rgb(102, 100, 100);"><b>The suite is a room with both air
          conditioners and fans, suitable for many people.</b></h1><br>
    </div>
  </div>
</div>
<br><br><br><br><br><br><br><br><br><br>
<router-outlet></router-outlet>