<div class="container-fluid">
  <div class="row" id="contain">
    <div class="col-lg" style="margin-top: 20px;">
      <!-- content -->
      <h1 style="text-align: center;">Welcome to Apartment Management System</h1><br>
      <angular-image-slider class="shadow" [images]="imagesUrl"></angular-image-slider>
      <!-- <img src="../../../assets/apartment.jpg" alt=""> -->

    </div>
  </div>
</div>
<footer class="footer">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2 leftText">
      Contact
      <span _ngcontent-c10>
        <i class="fa fa-phone" aria-hidden="true"><b> : 0862826721</b></i>
      </span>
      <span _ngcontent-c10>
        <i class="fa fa-envelope" aria-hidden="true"><b> : Natinun.t@gmail.com</b></i>
      </span>
    </div>
    <div class="col-md-6 midText">Apartment Management System Version 1.0</div>
    <div _ngcontent-c10 class="col-md-3 rightText">
      <span _ngcontent-c10>
        Powered by Natinun Thunlapan @2017-2018.
      </span>
      <span _ngcontent-c10>
        Copyright © 2007 - 2018 Computer Engineering.
      </span>
      <span _ngcontent-c10>
        Rajamangala University of Technology Thanyaburi.
      </span>
    </div>
  </div>
</footer>

<router-outlet></router-outlet>