<div class="container-fluid">
  <div class="row" style="height: 100px;background-color: #63320e">
    <h1 style="color: snow;font-size: 20px;margin-top: 35px;margin-left: 25px;">Rental</h1>
  </div>
  <form>
    <label>Fan room rental</label>
    <input type="number" class="form-control" placeholder="fan room"><br>

    <label>Air room rental</label>
    <input type="number" class="form-control" placeholder="air room"><br>

    <label>Suite room rental</label>
    <input type="number" class="form-control" placeholder="suite room"><br>

    <label>Rental water/unit</label>
    <input type="number" class="form-control" placeholder="water"><br>

    <label>Rental elect/unit</label>
    <input type="number" class="form-control" placeholder="elect">
    <button mat-raised-button style="background-color: #63320e;color:snow;margin-left: 40% ; margin-top: 20px;">Submit</button>
  </form>
  

</div>