<div class="container-fluid">
  <div class="row" style="height: 100px;background-color: #63320e">
    <h1 style="color: snow;font-size: 20px;margin-top: 35px;margin-left: 25px;">Bill &nbsp;<i class="fa fa-money fa-2x"
        aria-hidden="true"></i></h1>
  </div>

  <div class="row" style="margin-top: 20px;">
    <div class="col-md"></div>
    <div class="col-md-7">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter Data Source">
      </mat-form-field>


      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">


          <ng-container matColumnDef="room_id">
            <th mat-header-cell *matHeaderCellDef>Room No.</th>
            <td mat-cell *matCellDef="let row"> {{row.room_id}} </td>
          </ng-container>

          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let row"> {{row.cus_fname}} &nbsp; {{row.cus_lname}} </td>
          </ng-container>

          <ng-container matColumnDef="dabit_month">
            <th mat-header-cell *matHeaderCellDef> Month </th>
            <td mat-cell *matCellDef="let row"> {{row.dabit_month}} </td>
          </ng-container>

          <ng-container matColumnDef="dabit_year">
            <th mat-header-cell *matHeaderCellDef> Year </th>
            <td mat-cell *matCellDef="let row"> {{row.dabit_year}} </td>
          </ng-container>

          <ng-container matColumnDef="receipt_date">
            <th mat-header-cell *matHeaderCellDef> Pay Date </th>
            <td mat-cell *matCellDef="let row"> {{row.receipt_date}} </td>
          </ng-container>

          <ng-container matColumnDef="receipt_bill">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let row"> {{row.receipt_bill}} </td>
          </ng-container>

          <ng-container matColumnDef="icon">
            <th mat-header-cell *matHeaderCellDef> Add pay </th>
            <td ng-if mat-cell *matCellDef="let row">
              <i class="material-icons" style="cursor: pointer; color: #63320e; text-align: center ;"
                (click)="openModalReceipt(row,Receipt)">receipt</i>
            </td>
          </ng-container>



          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>

    </div>
    <div class="col-md"></div>
  </div>
</div>

<ng-template #Receipt let-modal>
  <div style="margin: 20px;">
    <form style="padding-top: 10px;padding-left: 20px;padding-right: 20px;">
      <h1 mat-dialog-title>Pay for the room </h1>
      <p>Want to pay for the room rent.</p>
      <p>Room &nbsp; {{room_id}} </p>
      <p>Name &nbsp; {{cus_fname}}&nbsp;{{cus_lname}}  </p>
      <button mat-raised-button style="background-color: #63320e;color:snow; margin-left: 30%; margin-top: 30px;"
        (click)="onUpdateReceipt()">Submit</button>
      <button mat-raised-button style="background-color: #FF9900;color:snow; margin-left: 5%"
        (click)="closeModal()">Cancle</button>

    </form>
  </div>
</ng-template>