<!-- Menubar -->
<mat-toolbar>
    <mat-toolbar-row class="shadow" style="background: #63320e">
      <mat-icon class="example-icon" style="margin-top: 0px;font-size:30px;padding-bottom: 35px;">dvr</mat-icon>
      <a mat-button routerLink="/staff/staff/overview">Overview</a>
      <a mat-button routerLink="/staff/staff/manageroom">ManageResident</a>
      <a mat-button routerLink="/staff/staff/manageuser">ManageUser</a>
      <!-- <a mat-button routerLink="/staff/staff/facility">Facility</a> -->
  
      <a mat-button routerLink="/staff/staff/notitications"> Notifications <mat-icon matBadge="{{totalBook}}"
          matBadgeColor="warn"><i class="fa fa-bell" aria-hidden="true"></i></mat-icon></a>
      <a mat-button routerLink="/staff/staff/water">Meter <i class="fa fa-tint" aria-hidden="true"></i></a>
      <a mat-button routerLink="/staff/staff/print">Print <i class="fa fa-print" aria-hidden="true"></i></a>
      <a mat-button routerLink="/staff/staff/receipt">Bill <i class="fa fa-money" aria-hidden="true"></i></a>
      <!-- <mat-menu #animals="matMenu" style="background: black">
        <a mat-menu-item style="color: rgb(24, 24, 24);font-size: 15px;" routerLink="/staff/staff/managefanroom">Fan Room</a>
        <a mat-menu-item style="color: rgb(24, 24, 24);font-size: 15px;" routerLink="/staff/staff/manageairroom">Air-Conditioned Room</a>
        <a mat-menu-item style="color: rgb(24, 24, 24);font-size: 15px;" routerLink="/staff/staff/managesuiteroom">Suite Room</a>
      </mat-menu>
      <mat-menu #users="matMenu" style="background: black">
          <a mat-menu-item style="color: rgb(24, 24, 24);font-size: 15px;" routerLink="/staff/staff/managstaff">Staff</a>
          <a mat-menu-item style="color: rgb(24, 24, 24);font-size: 15px;" routerLink="/staff/staff/managemember">Member</a>
          <a mat-menu-item style="color: rgb(24, 24, 24);font-size: 15px;" routerLink="/staff/staff/manageviewver">Viewver</a>
      </mat-menu> -->
      <span></span>
      <span class="example-spacer"></span>
  
      <a mat-menu-item routerLink="/staff/staff/reply">Reply <mat-icon matBadge="{{totalQuestion}}" matBadgeColor="warn">
          <i class="fa fa-commenting" style="color: snow" aria-hidden="true"></i></mat-icon></a>
      <!-- <a mat-button [matMenuTriggerFor]="contact"> Contact <mat-icon matBadge="2" matBadgeColor="warn"><i
            class="fa fa-commenting" aria-hidden="true"></i></mat-icon></a>
      <mat-menu #contact="matMenu" style="background: black">
        <a mat-menu-item style="color: rgb(24, 24, 24);font-size: 15px;" routerLink="/staff/staff/contact">Contact</a>
        <a mat-menu-item style="color: rgb(24, 24, 24);font-size: 15px;" routerLink="/staff/staff/reply">Reply</a>
      </mat-menu> -->
      <a mat-button [matMenuTriggerFor]="profile" [(ngModel)]="user" active="true" *ngIf="user != null">
        <i class="material-icons">account_circle</i>&nbsp;
        {{user[0].cus_fname}}&nbsp;{{user[0].cus_lname}}</a>
      <mat-menu #profile="matMenu" style="background: black">
        <a mat-menu-item style="color: rgb(24, 24, 24);font-size: 15px;" (click)="onLogout()">Logout &nbsp;<i
            class="fa fa-sign-out" aria-hidden="true"></i></a>
      </mat-menu>
      <a mat-button (click)="openDialogRegister()" *ngIf="user == null">Registor</a>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <router-outlet></router-outlet>