<div class="container-fluid">
  <div class="row" style="height: 100px;background-color: #63320e">
    <h1 style="color: snow;font-size: 20px;margin-top: 35px;margin-left: 25px;">AddRoomResident</h1>
  </div>
  <br><br>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md">
      <mat-form-field style="width: 80%">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter Data Source">
      </mat-form-field>
      <span> &nbsp;<a mat-button style="background-color: #63320e"
          routerLink="../addroomresident">AddRoomOrResident</a></span>

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

          <ng-container matColumnDef="Room">
            <th mat-header-cell *matHeaderCellDef> Room </th>
            <td mat-cell *matCellDef="let row"> {{row.room_id}} </td>
          </ng-container>

          <ng-container matColumnDef="Residents">
            <th mat-header-cell *matHeaderCellDef> Residents </th>
            <td mat-cell *matCellDef="let row"> {{row.cus_fname}} </td>
          </ng-container>

          <ng-container matColumnDef="TypeRoom">
            <th mat-header-cell *matHeaderCellDef> TypeRoom </th>
            <td mat-cell *matCellDef="let row"> {{row.type_room}} </td>
          </ng-container>

          <ng-container matColumnDef="CheckIN">
            <th mat-header-cell *matHeaderCellDef> CheckIN </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.check_in}} </td>
          </ng-container>

          <ng-container matColumnDef="CheckOut">
            <th mat-header-cell *matHeaderCellDef> CheckOut </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.check_out}} </td>
          </ng-container>

          <ng-container matColumnDef="StatusUser">
            <th mat-header-cell *matHeaderCellDef> StatusUser </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.cus_role}} </td>
          </ng-container>

          <ng-container matColumnDef="StatusRoom">
            <th mat-header-cell *matHeaderCellDef> StatusRoom </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.room_status}} </td>
          </ng-container>

          <ng-container matColumnDef="Edit">
            <th mat-header-cell *matHeaderCellDef> EditRoom </th>
            <td mat-cell *matCellDef="let row">
              <mat-icon style="font-size: 30px;cursor: pointer;color: #63320e"
                [routerLink]="['../editroomresident',row.room_id,row.username,row.type_id,row.room_status,row.check_in,row.check_out]">
                settings</mat-icon>&nbsp;
              <mat-icon (click)="openModalDeleteUser(row.room_id,deleteRoom)"
                style="font-size: 30px;cursor: pointer;color: rgb(177, 25, 25)">remove_circle</mat-icon>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5,10, 25, 100]"></mat-paginator>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

<ng-template #AddRoom let-modal>
  <form style="padding-top: 10px;padding-left: 20px;padding-right: 20px;" [formGroup]="AddRoomForm">
    <h1 mat-dialog-title>Add Room Form</h1>

    <mat-form-field style="width: 100%">
      <mat-label>Room</mat-label>
      <input matInput formControlName="room_id" style="color: #63320e">
    </mat-form-field>

    <!-- <mat-form-field style="width: 100%">
      <mat-label>Residents</mat-label>
      <input matInput formControlName="username" style="color: #63320e">
    </mat-form-field> -->

    <!-- <mat-form-field style="width: 100%;color: #63320e;font-size: 14px;"> -->
    <select class="custom-select mb-3" formControlName="username" placeholder="ChooseUser"
      style="width: 100%;color: #63320e;font-size: 14px;">
      <option *ngFor="let list of listUsername" [value]="list.username">
        {{list.cus_fname}}&nbsp;&nbsp;{{list.cus_lname}}
      </option>
    </select>
    <!-- </mat-form-field> -->

    <mat-label>TypeRoom</mat-label><br><br>
    <mat-radio-group formControlName="type_id" style="color: #63320e">
      <mat-radio-button value="2" style="color: #63320e">Air-Room</mat-radio-button>&nbsp;&nbsp;
      <mat-radio-button value="1" style="color: #63320e">FanRoom</mat-radio-button>&nbsp;&nbsp;
      <mat-radio-button value="3" style="color: #63320e">SuiteRoom</mat-radio-button>
    </mat-radio-group><br><br>

    <mat-label>StatusRoom</mat-label><br><br>
    <mat-radio-group formControlName="room_status" style="color: #63320e">
      <mat-radio-button value="live" style="color: #63320e">Live</mat-radio-button>&nbsp;&nbsp;
      <mat-radio-button value="N/A" style="color: #63320e">N/A</mat-radio-button>&nbsp;&nbsp;
      <mat-radio-button value="broken" style="color: #63320e">Broken</mat-radio-button>&nbsp;&nbsp;
      <mat-radio-button value="book" style="color: #63320e">Book</mat-radio-button>
    </mat-radio-group><br><br>

    <div mat-dialog-actions>
      <button mat-raised-button style="width: 100%;margin-bottom: 20px;background-color: #63320e;color: snow"
        (click)="onAddRoom()">AddDataAboutRoom</button>
    </div>
  </form>

</ng-template>

<ng-template #EditData let-modal>
  <form style="padding-top: 10px;padding-left: 20px;padding-right: 20px;" [formGroup]="updateRoom">
    <h1 mat-dialog-title>Edit Room And Residents Form</h1>

    <input formControlName="update_room_id" style="color: #63320e" type="hidden" [(ngModel)]="update_room_id">


    <select class="custom-select mb-3" formControlName="update_username" [(ngModel)]="update_username"
      placeholder="ChooseUser" style="width: 100%;color: #63320e;font-size: 14px;">
      <option *ngFor="let list of listUsername" [value]="list.username">
        {{list.cus_fname}}&nbsp;&nbsp;{{list.cus_lname}}
      </option>
    </select>
    <!-- <mat-form-field style="width: 100%">
      <mat-label>Residents</mat-label>
      <input matInput formControlName="update_username" style="color: #63320e" [(ngModel)]="update_username">
    </mat-form-field> -->
    <br>
    <mat-label style="font-size: 14px">TypeRoom</mat-label><br><br>
    <mat-radio-group formControlName="update_type_id" style="color: #63320e;font-size: 14px;"
      [(ngModel)]="update_type_id">
      <mat-radio-button value="2" style="color: #63320e">Air-Room</mat-radio-button>&nbsp;&nbsp;
      <mat-radio-button value="1" style="color: #63320e">FanRoom</mat-radio-button>&nbsp;&nbsp;
      <mat-radio-button value="3" style="color: #63320e">SuiteRoom</mat-radio-button>
    </mat-radio-group><br><br>

    <mat-label style="font-size:14px;">StatusRoom</mat-label><br><br>
    <mat-radio-group formControlName="update_room_status" style="color: #63320e;font-size: 14px;"
      [(ngModel)]="update_status_room">
      <mat-radio-button value="live" style="color: #63320e">Live</mat-radio-button>&nbsp;&nbsp;
      <mat-radio-button value="N/A" style="color: #63320e">N/A</mat-radio-button>&nbsp;&nbsp;
      <mat-radio-button value="broken" style="color: #63320e">Broken</mat-radio-button>&nbsp;&nbsp;
      <mat-radio-button value="book" style="color: #63320e">Book</mat-radio-button>
    </mat-radio-group><br><br>


    <div mat-dialog-actions>
      <button mat-raised-button style="width: 100%;margin-bottom: 20px;background-color: #63320e;color: snow"
        (click)="onUpdateRoom()">EditData</button>
    </div>
  </form>

</ng-template>

<ng-template #deleteRoom let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Are You Sure?</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Want to Remove This Room!!</p>
  </div>
  <div class="modal-footer">
    <button mat-raised-button (click)="modal.close('Close click')">No Thanks</button>
    <button mat-raised-button (click)="onDeleteRoom()" style="background-color: #63320e;color: snow">OK</button>
  </div>
</ng-template>